<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="header">
            <div class="left">
                <img src="/img/logo.png" alt="">
            </div>
            <div class="middle">
                <a href="#">Download</a>
                <a href="#">Help</a>
            </div>
            <div class="right">
                <a href="./login" class="rgt-item-1">Log in</a>
                <a href="./signup" class="rgt-item-2">Sign up</a>
            </div>
        </div>
        <div class="main">
            <div class="main1">
                <div class="container-main-1">
                    <div class="item-container-1">
                        <p>Open the world of music. </p>
                        <p> It’s all here.</p>
                    </div>
                    <div class="item-container-2">
                        <a href="#">MUSICBOX PREMIUM</a>
                        <a href="#">MUSICBOX FREE</a>
                    </div>
                    <div class="item-container-3">
                        <a href="#">1-month free trial    $7.99/month after</a>
                    </div>
                </div>
            </div>
            <div class="main2">
                <div>
                    <img src="/img/hinh2.png" alt="" style="height: 616px; width: 609px;">
                </div>
                <div class="rgt-main2">
                    <div style="display: flex;">
                        <img src="/img/icon-main2.png" alt="" style="padding: 0 20px 0 0;">
                        <p>FLOW</p>
                    </div>
                    <div>
                        <p style="font-size: 15px;">Listen to a personalized mix of tracks based on your listening history,</br> or create your own mix of genres, artists and playlists - letting you enjoy</br> more of the music you love.
                        </p>
                    </div>
                </div>
            </div>
            <div class="main3">
                <div class="item-main-3">
                    <p>Listen anytime, anywhere</p>
                    <p>All your favorite songs and episodes are always<br> available - even without WiFi or LTE.</p>
                </div>

            </div>
            <div class="main4">
                <div class="rgt-main4">
                    <p>Find the music you want</p>
                    <p>Search for your favorite songs using the description,<br> or turn on the MusicFinder feature to find the song<br> that is playing near you.</p>
                </div>
                <div class="left-main4">
                    <img src="/img/hinh4.png" alt="" style="height: 629; width: 597;">
                </div>
            </div>
            <div class="main5">
                <div>
                    <p style="font-size: 36px;">Why go Premium?</p>
                </div>
                <div class="icon-main5">
                    <div>
                        <img src="/img/icon1-main5.png" alt="">
                        <p>Offline mode.</p>
                        <p>Save and listen anywhere.</p>
                    </div>
                    <div>
                        <img src="/img/icon2-main5.png" alt="">
                        <p>High quality audio.</p>
                        <p>Enjoy the full range of sound.</p>
                    </div>
                    <div>
                        <img src="/img/icon3-main5.png" alt="">
                        <p>No ads.</p>
                        <p>Enjoy nonstop music.</p>
                    </div>
                    <div>
                        <img src="/img/icon4-main5.png" alt="">
                        <p>Unlimited skips.</p>
                        <p>Just tap skip.</p>
                    </div>
                </div>
                <div style="margin-top: 76px;">
                    <p>Listen free or subscribe to MusicBox Premium.</p>
                </div>
                <div class="box-main5">
                    <div class="box-left-main5">
                        <div class="box-left">
                            <div style="margin: 30px 26px; text-align: left;">
                                <p class="item-box-left-main5">MusicBox Free</p>
                                <p class="item-box-left-main5">$0.00/month</p>
                                <div class="item2-box-left-main5">
                                    <div class="text-item2-box-main5">
                                        <i class="fas fa-check" style="color: white;"></i>
                                        <p>Online listening</p>
                                    </div>
                                    <div class="text-item2-box-main5">
                                        <i class="fas fa-check" style="color: white;"></i>
                                        <p>Regular audio</p>
                                    </div>
                                    <div class="text-item2-box-main5">
                                        <i class="fas fa-check" style="color: white;"></i>
                                        <p>With advertising</p>
                                    </div>
                                    <div class="text-item2-box-main5">
                                        <i class="fas fa-check" style="color: white;"></i>
                                        <p>30 skips per day</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-rgt-main5">
                        <div class="box-rgt">
                            <div style="margin: 30px 26px; text-align: left;">
                                <p class="item-box-rgt-main5">MusicBox Premium</p>
                                <p class="item-box-rgt-main5">$7.99/month</p>
                                <p style="font-size: 10px;">Start with 1-month free trial*</p>
                                <div class="item2-box-rgt-main5">
                                    <div class="text-item2-box-main5">
                                        <i class="fas fa-check" style="color: white;"></i>
                                        <p>Offline mode</p>
                                    </div>
                                    <div class="text-item2-box-main5">
                                        <i class="fas fa-check" style="color: white;"></i>
                                        <p>High quality audio</p>
                                    </div>
                                    <div class="text-item2-box-main5">
                                        <i class="fas fa-check" style="color: white;"></i>
                                        <p>No ads</p>
                                    </div>
                                    <div class="text-item2-box-main5">
                                        <i class="fas fa-check" style="color: white;"></i>
                                        <p>Unlimited skips</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="main6">
                    <div class="get-music-free">
                        <a href="#">GET MUSICBOX FREE</a>
                    </div>
                    <div class="get-music-pre">
                        <a href="#">GET MUSICBOX PREMIUM</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-top">
                <div>
                    <img src="/img/logo.png" alt="" style="margin-right : 60px;">
                </div>
                <div class="container-footer">
                    <div>
                        <ul>MUSICBOX
                            <li>About</li>
                            <li>Premium</li>
                            <li>Features</li>
                        </ul>
                    </div>
                    <div>
                        <ul>COMMUNITIES
                            <li>For Artists</li>
                            <li>Developers</li>
                            <li>Press</li>
                        </ul>
                    </div>
                    <div>
                        <ul>USEFUL LINKS
                            <li>Help</li>
                            <li>Web Player</li>
                            <li>Explore Channels</li>
                            <li>Download App</li>
                        </ul>
                    </div>
                </div>
                <div class="icon-footer">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram-square"></i>
                </div>
            </div>
            <div class="bot-footer">
                <ul>
                    <li>
                        <a href="#">Legal</a>
                    </li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Ads</a></li>
                </ul>
                <p>© 2019 MusicBox</p>
            </div>
        </div>
    </div>
</body>
</html>