<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css">
    <script src="https://kit.fontawesome.com/2c7a5ced39.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <div>
        <div class="header">
            <div class="left">
                <img src="../image/logo.png" alt="">
            </div>
            <div class="middle">
                <a href="#">Download</a>
                <a href="#">Help</a>
            </div>
            <div class="right">
                <a href="#" class="rgt-item-1">Log in</a>
                <a href="./signup" class="rgt-item-2">Sign up</a>
            </div>
        </div>
        <div class="container">
            <form method="POST" action="" class="box-sign-in">
                <div>
                    <h2>What will you listen to today?</h2>
                    <div class="icon">
                        <div class="icon-fb">
                            <i class="fab fa-facebook"></i>
                            <a href="#">Facebook</a>

                        </div>
                        <div class="icon-gg">
                            <i class="fab fa-google"></i>
                            <a href="#">Google</a>
                        </div>
                    </div>
                    <p style="margin: 2px; color:black" >Email address or username</p>
                    <input type="text" class="input" name="email">
                    <p style="margin: 2px;color:black" > Password </p>
                    <input type="password" class="input" name="password"><br>
                    <div class="login">
                        <input id="login" type="submit" value="LOGIN" style="text-align: center;">
                    </div>

                    <div class="err">
                        {{#if err}}
                        {{#each people}}
                        <div>
                            <p style="color: red;"> loi kia</p>
                        </div>
                         {{/each}}
                        {{/if}}
                    </div>

                    <div class="account">
                        <a href="#" class="fogot-account">Forgot your password?</a>
                        <a  class="dont-account">Don't have an account?</a>
                        <div>
                            <a href="./signup" class="sign-up">SIGN UP FOR MUSICBOX</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</body>

</html>